# https://lintlyci.github.io/Flake8Rules/
[flake8]
max-line-length = 88
include =
    #W292 No newline at end of file
    W292,
ignore =
    # E251 unexpected spaces around keyword / parameter equals
    E251,
    # sometimes I just want to line up decimal points...
    # E201 whitespace after '['
    E201,
    # E241 multiple spaces after ','
    E241,
    # E731 do not assign a lambda expression, use a def
    E731,
    # https://stackoverflow.com/questions/67942075/w504-line-break-after-binary-operator
    W503,W504,
    # E272 multiple spaces before keyword
    E272
