h3c/
*.py[cod]
.cache/
h3/out/

# Generated C code from Cython test
tests/**/*.c
# Cython HTML annotations
*.html

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
coverage.lcov
.tox
nosetests.xml
.noseids
.pytest_cache

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.csv
build/
env/
env_docs/
docs/_build/
htmlcov/

# vim/emacs backup files
*~
\#*\#
.\#*
.*.sw*

#DB snapshots
db_snapshots/

#OSX
.DS_Store

node_modules/
bower_components/
.sass-cache/
.idea/
.unison.*

.ipynb_checkpoints/
_skbuild/

# might want to remove this later when distributing
MANIFEST
