language: python
cache: pip
python:
  - 2.7
  - 3.6
  - 3.7
install:
  - pip install -r requirements-dev.txt
  - CFLAGS='-fPIC' python setup.py install
script:
  - flake8 src/h3 setup.py
  - pytest tests/*
