# MANIFEST.in commands specified here:
# https://packaging.python.org/en/latest/guides/using-manifest-in/#manifest-in-commands

include CHANGELOG.md
include CMakeLists.txt
include LICENSE
include makefile
include pyproject.toml
include readme.md
include requirements.in
include setup.py

graft src/h3/

prune src/h3lib/

include src/h3lib/LICENSE
include src/h3lib/README.md
include src/h3lib/VERSION
include src/h3lib/CMakeLists.txt

graft src/h3lib/cmake
graft src/h3lib/src/h3lib
exclude MANIFEST.in
