name: build_docs

on:
  push:
    branches: [master]
  pull_request:
    branches: ['*']

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          submodules: recursive

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          pip install .[all]

      - name: Build the book
        run: jupyter-book build docs/ --warningiserror --keep-going --all

      - name: Upload artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: html
          path: docs/_build/html

      - name: Upload to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
