name: CI-windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: microsoft/setup-msbuild@v1

      - name: Add Windows SDK
        shell: cmd
        run: |
          choco install windows-sdk-10.1

      - uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install dependencies
        run: |
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel

      - name: install from source
        run: pip install .
